<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="assets/logo.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="css/dashboard.css">
</head>

<body>

    <!-- Fragmento header -->
    <div th:insert="~{fragmentos/header :: header}"></div>

    <h1 class="tituloDashboard">Dashboard</h1>

    <div class="contenedorProyectos">

        <div class="acciones-proyecto">
            <a href="">Crear Proyecto</a>
            <a href="">Unirse a Un Proyecto</a>
        </div>

        <div th:if="${proyectos == null or #lists.isEmpty(proyectos)}">
            <p class="mensaje-vacio">Todavía no has creado ni te has unido a ningún proyecto.</p>
        </div>

        <div th:if="${proyectos != null and !#lists.isEmpty(proyectos)}" class="proyectos-grid">
            <div th:each="proyecto : ${proyectos}" class="proyecto-card">
                <h2 th:text="${proyecto.nombreProyecto}">Nombre del Proyecto</h2>
                <p th:text="${proyecto.descripcion}">Descripción</p>
                <div class="proyecto-detalles">
                    <span th:text="${proyecto.metodologia}">Metodología</span>
                    <span th:text="${#dates.format(proyecto.fechaCreacion, 'dd/MM/yyyy')}">Fecha</span>
                </div>
                <p class="creador" th:text="'Creador: ' + ${proyecto.creador.usuario}">Nombre Creador</p>
            </div>
        </div>

    </div>

    <div class="chat-container">
        <p><strong>Conexión WebSocket:</strong> <span id="estado-conexion">Desconectado</span></p>
        <input type="text" id="mensajeInput" placeholder="Escribe un mensaje">
        <button onclick="enviarMensaje()">Enviar</button>
        <div id="mensajesRecibidos"></div>
    </div>

    <!-- Insertar el fragmento -->
    <div th:insert="~{fragmentos/footer :: footer}"></div>

    <script src="js/dashboard.js"></script>
    <script src="js/chat.js"></script>
</body>

</html>