<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/logo.png">
    <link rel="stylesheet" href="/css/index.css">
    <title>TotalTasks</title>
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="/assets/logo.png" alt="Logo Lobby">
        </div>
        <div class="nav">
            <nav>
                <ul>
                    <li><a href="/home">Inicio</a></li>
                    <li><a href="/about">Acerca de</a></li>
                    <li><a href="/contact">Contacto</a></li>
                    <div class="separador"></div>
                    <li><a href="/login" class="btn-login" style="color: white;">Iniciar sesión</a></li>
                    <li><a href="/register">Pruébala gratis</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="hero">
        <div class="hero-text">
            <h1>Organiza tu vida con TotalTasks</h1>
            <p>La mejor aplicación para gestionar tus tareas y proyectos de forma sencilla y eficaz.</p>
            <a href="#">Pruébala gratis</a>
        </div>
        <div class="hero-image">
            <img src="/assets/hero.png" alt="Hero Imagen">
        </div>
    </div>
</body>

</html>