@import url('general.css');

/* Notificaciones */
.notificaciones {
    position: relative;
}

.icono-campana {
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;

}

/* Dropdown Notificaciones */
.dropdown-notificaciones {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 200px;
}

.dropdown-notificaciones p {
    margin: 5px 0;
    cursor: pointer;
}

.dropdown-notificaciones p:hover {
    background: #f0f0f0;
}

.chat-container {
    margin: 2rem auto;
    max-width: 600px;
    padding: 1rem;
    background-color: #fafafa;
    border-radius: 10px;
    border: 2px dashed #aaa;
    font-family: sans-serif;
}

.chat-container input {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.chat-container button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#mensajesRecibidos {
    margin-top: 1rem;
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 0.5rem;
    background: #fff;
    border-radius: 6px;
}