<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${proyecto.nombreProyecto + ' - Proyecto Kanban'}"></title>
    <link rel="stylesheet" href="/css/proyectos/proyectoKanban.css">
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>
    <!-- Header -->
    <div th:insert="~{fragmentos/header :: header}"></div>

    <main>
        <div class="kanban-container">
            <!-- Botón para crear nuevas columnas -->
            <div class="acciones-tablero">
                <h1 th:text="${proyecto.nombreProyecto}"></h1>
                <button id="agregarTarea">Crear tarea</button>
            </div>

            <!-- Contenedor de columnas -->
            <div id="tableros" class="tableros">
                <!-- Iterar sobre los tablones pasados desde el backend -->
                <div th:each="tablon : ${tablones}" class="columna" th:data-etapa="${tablon.nombreTablon}"
                    th:attr="data-id=${tablon.id}" draggable="true">
                    <h3 th:text="${tablon.nombreTablon}">Nombre de la columna</h3>
                    <div class="tareas">
                        <div th:each="tarea : ${tareas}" th:if="${tarea.estado == tablon.nombreTablon}"
                            th:attr="data-id=${tarea.idTarea}" class="tarea">
                            <p><strong th:text="${tarea.titulo}">Título</strong></p>
                            <p th:text="${tarea.descripcion}">Descripción</p>
                            <p><small th:text="${#dates.format(tarea.fechaLimite, 'dd/MM/yyyy')}">Fecha límite</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <input id="idProyecto" type="hidden" th:value="${proyecto.idProyecto}">
            <input id="orden" type="hidden" th:value="${tablones.size()}">

        </div>
        <button id="botonEliminarColumna" class="botonEliminarColumna">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" width="40" height="40">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
            </svg>
        </button>
        <button id="agregarColumna" class="botonAñadirColumna">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" width="40" height="40">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 5v14M5 12h14" />
            </svg>
        </button>

    </main>

    <!-- Modal para crear columna -->
    <div id="modalColumna" class="modal">
        <div class="modal-contenido">
            <h2>Crear nueva columna</h2>
            <input type="text" id="nombreColumna" placeholder="Nombre de la columna" />
            <div class="modal-acciones">
                <button id="crearColumna">Crear</button>
                <button id="cancelarModal">Cancelar</button>
            </div>
        </div>
    </div>

    <!-- Modal para crear tarea -->
    <div id="modalTarea" class="modal">
        <div class="modal-contenido">
            <h2>📝 Nueva Tarea</h2>
            <form th:action="@{/crearTarea}" method="post" th:object="${tareaDTO}">
                <input type="text" name="titulo" placeholder="Título de la tarea" required />
                <textarea name="descripcion" placeholder="Descripción detallada..." rows="10" cols="44"></textarea>
                <input type="date" name="fechaLimite" required />
                <select name="estado" required>
                    <option value="Por Hacer">Por Hacer</option>
                    <option value="En Curso">En Curso</option>
                    <option value="Hecha">Hecha</option>
                </select>
                <input type="hidden" th:value="${proyecto.idProyecto}" name="idProyecto" />
                <input type="hidden" th:value="${usuario.idUsuario}" name="idResponsable" />

                <div class="modal-acciones">
                    <button type="submit" class="btn-confirmar">Crear</button>
                    <button type="button" id="cancelarModalTarea" class="btn-cancelar">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Error -->
    <div id="modalError" class="modal-error">
        <div class="modal-error-content">
            <span class="modal-error-close" onclick="cerrarModalError()">&times;</span>
            <h2 class="modal-error-title">Error</h2>
            <p class="modal-error-message" id="mensajeError">Ha ocurrido un error.</p>
        </div>
    </div>

    <!-- Footer -->
    <footer th:insert="~{fragmentos/footer :: footer}"></footer>
    <script src="/js/proyectos/proyectoKanban.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
</body>

</html>