<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Scrum Board Todo Visible</title>
	<link rel="stylesheet" href="/css/metodologias/scrum.css">
</head>

<body>

	<!-- Header -->
	<div th:insert="~{fragmentos/header :: header}"></div>

	<main class="scrum-content">

		<!-- PRODUCT BACKLOG -->
		<section id="product-backlog" class="panel">
			<div class="formulario-pb">
				<h2>Product Backlog</h2>
				<form id="task-form" method="post" action="/scrum/agregarHistoria">
					<label for="task-title">Título de la historia</label>
					<input type="text" id="task-title" name="titulo" placeholder="Título de la historia" required>

					<label for="task-desc">Descripción</label>
					<textarea id="task-desc" name="descripcion" placeholder="Descripción"></textarea>

					<label for="task-points">Story Points</label>
					<input type="number" id="task-points" name="storyPoints" placeholder="Story Points" min="1" max="21" required>

					<!-- Inputs ocultos para idUsuario y idProyecto -->
					<input type="hidden" name="idUsuario" th:value="${usuario.idUsuario}">
					<input type="hidden" name="idProyecto" th:value="${proyecto.idProyecto}">

					<button type="submit">Añadir Historia</button>
				</form>
			</div>
			<div class="tablon-pb">
				<h2>Product Backlog</h2>
				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th>Título</th>
							<th>Descripción</th>
							<th>Story Points</th>
							<th>Responsable</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="historia : ${historias}">
							<td th:text="${historia.idBacklog}">1</td>
							<td th:text="${historia.titulo}">Título historia</td>
							<td th:text="${historia.descripcion}">Descripción historia</td>
							<td><span class="badge" th:text="${historia.storyPoints}">5</span></td>
							<td th:text="${historia.creador.nombre}">Usuario</td>
						</tr>
					</tbody>
				</table>
			</div>

		</section>

	</main>

	<!-- Footer -->
	<footer th:insert="~{fragmentos/footer :: footer}"></footer>

	<script src="/js/metodologias/scrum.js"></script>
</body>

</html>