@import url('/css/general.css');

/* Estilo footer */
.footer {
  background-color: var(--color-texto);
  color: var(--color-fondo);
  padding: 40px 20px;
  font-size: var(--tamano-texto);
  text-align: center;
}

.footer a {
  color: var(--color-fondo);
  transition: color 0.3s;
  text-decoration: none;
}

.footer a:hover {
  color: var(--color-primario-hover);
}

.contenedor-footer {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-sombra);
  gap: 150px;
}

.marca-footer {
  display: flex;
  flex: 1 1 300px;
  gap: 15px;
}

.logo-footer {
  width: 120px;
  height: auto;
  object-fit: contain;
  margin-top: -100px;
}

.texto-marca h2 {
  margin: 0;
  font-size: 1.8rem;
}

.texto-marca p {
  font-size: 0.9rem;
  margin-top: 4px;
}

.newsletter-footer h4 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.newsletter-footer p {
  margin: 10px 0;
  font-size: 0.9rem;
}

.newsletter-footer form {
  display: flex;
  margin-left: 50px;
}

.newsletter-footer input[type="email"] {
  padding: 8px 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 250px;
}

.newsletter-footer input[type="email"]:focus {
  outline: none;
}

.newsletter-footer button {
  padding: 10px 15px;
  border: none;
  background-color: var(--color-primario);
  color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.enlaces-footer {
  flex: 1 1 300px;
}

.enlaces-footer h4 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.enlaces-footer ul {
  list-style: none;
  margin: 10px 0;
}

.enlaces-footer ul li {
  margin-bottom: 8px;
}

.enlaces-footer ul li a {
  font-size: 0.9rem;
}

.extra-footer {
  margin: 20px auto;
  max-width: 1200px;
  text-align: center;
}

.extra-footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.extra-footer ul li a {
  font-size: 0.9rem;
}

.redes-footer {
  margin: 20px auto;
  max-width: 1200px;
  text-align: center;
}

.iconos-redes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.iconos-redes a img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.iconos-redes a:hover img {
  transform: scale(1.1);
}

.final-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8rem;
}