<header th:fragment="header" id="cabezera" class="cabezera">
    <div class="logo">
        <img src="/assets/logo.png" alt="Logo TotalTasks">
    </div>
    <nav class="navegacion">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#caracteristicas">Características</a></li>
            <li><a href="#faq" onclick="openChatbot()">Preguntas Frecuentes</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#faq">Preguntas Frecuentes</a></li>
            <div class="separador"></div>
            <li th:if="${usuario == null}"><a href="/login" class="boton-login">Iniciar sesión</a></li>
            <li th:if="${usuario != null}"><a href="/dashboard" class="boton-login">Ir a mi Dashboard</a></li>
            <li th:if="${usuario == null}"><a href="/registro" class="boton-probar" style="color: white;">Pruébala
                    gratis</a></li>
        </ul>
    </nav>
    <link rel="stylesheet" href="/css/index/header.css">
</header>